In [115]:
import pandas as pd
import numpy as np

In [116]:
df_csv=pd.read_csv('datasets/df_master_hr_light.csv')

In [117]:
df_labels=pd.read_excel('datasets/labelsxlsx.xlsx',sheet_name='SuppTable3_Fig2a_COVID-19',skiprows=3)

/Users/rayendhahri/opt/anaconda3/envs/machine/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [118]:
df_csv.head()

   Unnamed: 0  heartrate     user             datetime
0           0  49.928571  A6BUI4N  2024-09-11 00:00:00
1           1  50.172414  A6BUI4N  2024-09-11 00:05:00
2           2  52.448276  A6BUI4N  2024-09-11 00:10:00
3           3  51.592593  A6BUI4N  2024-09-11 00:15:00
4           4  51.851852  A6BUI4N  2024-09-11 00:20:00

In [119]:
df_labels['Category'].unique()

array(['COVID-19', 'Other Illness', 'Other Illness (Influenza B)'],
      dtype=object)

In [120]:
df_labels=df_labels[(df_labels['Category']=='COVID-19') & (df_labels['Symptom_dates']!='[NaT]')]

In [121]:
df_labels_all_ill=df_labels[ (df_labels['Symptom_dates']!='[NaT]')]

In [122]:
df_labels_all_ill.head()

,ParticipantID,Category,Symptom_dates,covid_diagnosis_dates,recovery_dates
0,AFPB8J2,COVID-19,[Timestamp('2026-07-14 00:00:00')],[Timestamp('2026-07-17 00:00:00')],[Timestamp('2026-08-06 00:00:00')]
1,APGIB2T,COVID-19,[Timestamp('2023-05-22 00:00:00')],[Timestamp('2023-05-28 00:00:00')],[Timestamp('2023-06-11 00:00:00')]
3,AQC0L71,COVID-19,[Timestamp('2028-06-17 00:00:00')],[Timestamp('2028-06-19 00:00:00')],"[Timestamp('2028-05-16 00:00:00'), Timestamp('..."
4,A0NVTRV,COVID-19,[Timestamp('2023-12-06 00:00:00')],[Timestamp('2023-12-11 00:00:00')],"[Timestamp('2023-12-14 00:00:00'), Timestamp('..."
5,AOYM4KG,COVID-19,"[Timestamp('2023-08-29 00:00:00'), Timestamp('...",[Timestamp('2023-09-18 00:00:00')],"[Timestamp('2023-09-19 00:00:00'), Timestamp('..."

In [123]:
df_labels = df_labels[['ParticipantID','Symptom_dates']]

In [124]:
df_labels_all_ill = df_labels_all_ill[['ParticipantID','Symptom_dates','Category']]

In [125]:
df_labels.head()

  ParticipantID                                      Symptom_dates
0       AFPB8J2                 [Timestamp('2026-07-14 00:00:00')]
1       APGIB2T                 [Timestamp('2023-05-22 00:00:00')]
3       AQC0L71                 [Timestamp('2028-06-17 00:00:00')]
4       A0NVTRV                 [Timestamp('2023-12-06 00:00:00')]
5       AOYM4KG  [Timestamp('2023-08-29 00:00:00'), Timestamp('...

In [126]:
dct = {}
dct_all_ill = {}
for i in df_labels.iterrows():
        dct[i[1].ParticipantID] = i[1].Symptom_dates.split(" ")[0].split("'")[1]
for i in df_labels_all_ill.iterrows():
        dct_all_ill[i[1].ParticipantID] = i[1].Symptom_dates.split(" ")[0].split("'")[1]

In [136]:
list_user=list(dct.keys())
list_user_all_ill=list(dct_all_ill.keys())

In [128]:
index_bolean = (df_csv['user'].isin(list_user) & (df_csv['heartrate']>=30) & (df_csv['heartrate']<=200))
filtered_df = df_csv[index_bolean]

In [143]:
index_bolean_all_ill = (df_csv['user'].isin(list_user_all_ill) & (df_csv['heartrate']>=30) & (df_csv['heartrate']<=200))
filtered_df_all_ill = df_labels_all_ill[index_bolean_all_ill]

/var/folders/xm/31lksxtd18q4m7q_8w9xk0cw0000gn/T/ipykernel_47935/508439944.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  filtered_df_all_ill = df_labels_all_ill[index_bolean_all_ill]

In [140]:
len(filtered_df)

638515

In [139]:
len(filtered_df_all_ill)

638515

In [130]:
filtered_df=filtered_df.drop(columns=['Unnamed: 0'],axis=1)

In [141]:
filtered_df_all_ill=filtered_df_all_ill.drop(columns=['Unnamed: 0'],axis=1)

In [142]:
filtered_df_all_ill.head()

       heartrate     user             datetime
94571  49.535714  ATHKM6V  2024-02-10 00:00:00
94572  52.878788  ATHKM6V  2024-02-10 00:05:00
94573  49.075000  ATHKM6V  2024-02-10 00:10:00
94574  49.282609  ATHKM6V  2024-02-10 00:15:00
94575  48.195652  ATHKM6V  2024-02-10 00:20:00

In [131]:
for i in filtered_df.iterrows():
    if i[1].user in dct.keys():
        filtered_df.loc[i[0],'symptom_date']=dct[i[1].user]

In [144]:
for i in filtered_df_all_ill.iterrows():
    if i[1].user in dct.keys():
        filtered_df_all_ill.loc[i[0],'symptom_date']=dct_all_ill[i[1].user]

In [132]:
filtered_df.head()

       heartrate     user             datetime symptom_date
94571  49.535714  ATHKM6V  2024-02-10 00:00:00   2024-03-06
94572  52.878788  ATHKM6V  2024-02-10 00:05:00   2024-03-06
94573  49.075000  ATHKM6V  2024-02-10 00:10:00   2024-03-06
94574  49.282609  ATHKM6V  2024-02-10 00:15:00   2024-03-06
94575  48.195652  ATHKM6V  2024-02-10 00:20:00   2024-03-06

In [ ]:
filtered_df_all_ill.head()

In [133]:
#sanity check
assert len(filtered_df['symptom_date'].unique())==len(dct.keys())

In [134]:
filtered_df.isna().sum()

heartrate       0
user            0
datetime        0
symptom_date    0
dtype: int64

In [135]:
#filtered_df.to_csv('datasets/df_master_hr_light_filtered_assigned_notonlycorona.csv')

In [ ]:
filtered_df_all_ill.to_csv('datasets/df_master_hr_light_filtered_assigned_all_ill.csv')