In [39]:
import pandas as pd
import numpy as np

In [40]:
df_csv=pd.read_csv('datasets/df_master_hr_light.csv')

In [41]:
df_labels=pd.read_excel('datasets/labelsxlsx.xlsx',sheet_name='SuppTable3_Fig2a_COVID-19',skiprows=3)

/Users/rayendhahri/opt/anaconda3/envs/machine/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [42]:
df_csv.head()

   Unnamed: 0  heartrate     user             datetime
0           0  49.928571  A6BUI4N  2024-09-11 00:00:00
1           1  50.172414  A6BUI4N  2024-09-11 00:05:00
2           2  52.448276  A6BUI4N  2024-09-11 00:10:00
3           3  51.592593  A6BUI4N  2024-09-11 00:15:00
4           4  51.851852  A6BUI4N  2024-09-11 00:20:00

In [43]:
df_labels['Category'].unique()

array(['COVID-19', 'Other Illness', 'Other Illness (Influenza B)'],
      dtype=object)

In [44]:
df_labels_c=df_labels[(df_labels['Category']=='COVID-19') & (df_labels['Symptom_dates']!='[NaT]')]

In [45]:
df_labels_all_ill=df_labels[ (df_labels['Symptom_dates']!='[NaT]')]

In [46]:
test=df_labels[ (df_labels['Symptom_dates']!='[NaT]')&(df_labels['Category']!='COVID-19')]

In [47]:
test.head()

,ParticipantID,Category,Symptom_dates,covid_diagnosis_dates,recovery_dates
6,AR4FPCC,Other Illness,"[Timestamp('2027-04-11 00:00:00'), Timestamp('...",[NaT],"[Timestamp('2027-05-01 00:00:00'), Timestamp('..."
8,AUILKHG,Other Illness,[Timestamp('2027-07-18 00:00:00')],[NaT],[NaT]
9,AD77K91,Other Illness,[Timestamp('2023-09-04 00:00:00')],[NaT],"[Timestamp('2023-09-14 00:00:00'), Timestamp('..."
15,AF3J1YC,Other Illness (Influenza B),"[Timestamp('2025-09-03 00:00:00'), Timestamp('...",[NaT],"[Timestamp('2025-09-10 00:00:00'), Timestamp('..."
28,AXI1PBS,Other Illness,"[Timestamp('2026-02-05 00:00:00'), Timestamp('...",[NaT],[Timestamp('2026-05-18 00:00:00')]

In [48]:
df_labels_all_ill.head()

,ParticipantID,Category,Symptom_dates,covid_diagnosis_dates,recovery_dates
0,AFPB8J2,COVID-19,[Timestamp('2026-07-14 00:00:00')],[Timestamp('2026-07-17 00:00:00')],[Timestamp('2026-08-06 00:00:00')]
1,APGIB2T,COVID-19,[Timestamp('2023-05-22 00:00:00')],[Timestamp('2023-05-28 00:00:00')],[Timestamp('2023-06-11 00:00:00')]
3,AQC0L71,COVID-19,[Timestamp('2028-06-17 00:00:00')],[Timestamp('2028-06-19 00:00:00')],"[Timestamp('2028-05-16 00:00:00'), Timestamp('..."
4,A0NVTRV,COVID-19,[Timestamp('2023-12-06 00:00:00')],[Timestamp('2023-12-11 00:00:00')],"[Timestamp('2023-12-14 00:00:00'), Timestamp('..."
5,AOYM4KG,COVID-19,"[Timestamp('2023-08-29 00:00:00'), Timestamp('...",[Timestamp('2023-09-18 00:00:00')],"[Timestamp('2023-09-19 00:00:00'), Timestamp('..."

In [49]:
df_labels_c = df_labels_c[['ParticipantID','Symptom_dates']]

In [50]:
df_labels_all_ill = df_labels_all_ill[['ParticipantID','Symptom_dates','Category']]

In [51]:
df_labels_c.head()

  ParticipantID                                      Symptom_dates
0       AFPB8J2                 [Timestamp('2026-07-14 00:00:00')]
1       APGIB2T                 [Timestamp('2023-05-22 00:00:00')]
3       AQC0L71                 [Timestamp('2028-06-17 00:00:00')]
4       A0NVTRV                 [Timestamp('2023-12-06 00:00:00')]
5       AOYM4KG  [Timestamp('2023-08-29 00:00:00'), Timestamp('...

In [52]:
df_labels_all_ill["Category"].unique()

array(['COVID-19', 'Other Illness', 'Other Illness (Influenza B)'],
      dtype=object)

In [53]:
dct = {}
dct_all_ill = {}
for i in df_labels_c.iterrows():
        dct[i[1].ParticipantID] = i[1].Symptom_dates.split(" ")[0].split("'")[1]
for i in df_labels_all_ill.iterrows():
        dct_all_ill[i[1].ParticipantID] = [i[1].Symptom_dates.split(" ")[0].split("'")[1],i[1].Category]

In [54]:
print(dct_all_ill)

{'AFPB8J2': ['2026-07-14', 'COVID-19'], 'APGIB2T': ['2023-05-22', 'COVID-19'], 'AQC0L71': ['2028-06-17', 'COVID-19'], 'A0NVTRV': ['2023-12-06', 'COVID-19'], 'AOYM4KG': ['2023-08-29', 'COVID-19'], 'AR4FPCC': ['2027-04-11', 'Other Illness'], 'A4G0044': ['2027-03-04', 'COVID-19'], 'AUILKHG': ['2027-07-18', 'Other Illness'], 'AD77K91': ['2023-09-04', 'Other Illness'], 'A3OU183': ['2024-11-23', 'COVID-19'], 'AX6281V': ['2024-02-08', 'COVID-19'], 'A4E0D03': ['2028-03-13', 'COVID-19'], 'AS2MVDL': ['2025-03-02', 'COVID-19'], 'AKXN5ZZ': ['2028-01-16', 'COVID-19'], 'AF3J1YC': ['2025-09-03', 'Other Illness (Influenza B)'], 'AJWW3IY': ['2024-08-09', 'COVID-19'], 'AAXAA7Z': ['2023-03-30', 'COVID-19'], 'AHYIJDV': ['2025-01-16', 'COVID-19'], 'AV2GF3B': ['2026-02-12', 'COVID-19'], 'AJ7TSV9': ['2025-01-28', 'COVID-19'], 'A1K5DRI': ['2028-01-21', 'COVID-19'], 'A7EM0B6': ['2023-12-26', 'COVID-19'], 'ASFODQR': ['2024-08-14', 'COVID-19'], 'ATHKM6V': ['2024-03-06', 'COVID-19'], 'A0VFT1N': ['2023-10-13', 'COVID-19'], 'AZIK4ZA': ['2024-07-29', 'COVID-19'], 'AXI1PBS': ['2026-02-05', 'Other Illness'], 'AYWIEKR': ['2023-04-07', 'COVID-19'], 'A36HR6Y': ['2023-05-18', 'COVID-19'], 'AYEFCWQ': ['2025-07-07', 'COVID-19'], 'AA2KP1S': ['2025-01-06', 'COVID-19'], 'AIFDJZB': ['2023-11-07', 'COVID-19'], 'AJMQUVV': ['2024-09-05', 'COVID-19'], 'AMV7EQF': ['2027-06-09', 'COVID-19'], 'A1ZJ41O': ['2027-08-06', 'COVID-19'], 'AK7YRBU': ['2025-04-12', 'Other Illness'], 'A35BJNV': ['2026-08-24', 'Other Illness'], 'AEOBCFJ': ['2029-01-11', 'Other Illness'], 'AOGFRXL': ['2028-08-19', 'Other Illness'], 'ALKAXMZ': ['2024-10-01', 'Other Illness'], 'AA0HAI1_Illness_1': ['2029-08-04', 'Other Illness'], 'AA0HAI1_Illness_2': ['2029-09-09', 'Other Illness'], 'AA0HAI1_Illness_3': ['2030-08-04', 'Other Illness'], 'AFHOHOM': ['2027-01-17', 'Other Illness']}

In [55]:
list_user=list(dct.keys())
list_user_all_ill=list(dct_all_ill.keys())

In [56]:
index_bolean = (df_csv['user'].isin(list_user) & (df_csv['heartrate']>=30) & (df_csv['heartrate']<=200))
filtered_df = df_csv[index_bolean]

In [57]:
index_bolean_all_ill = (df_csv['user'].isin(list_user_all_ill) & (df_csv['heartrate']>=30) & (df_csv['heartrate']<=200))
filtered_df_all_ill = df_csv[index_bolean_all_ill]

In [58]:
len(filtered_df)

638515

In [59]:
len(filtered_df_all_ill)

852259

In [60]:
filtered_df=filtered_df.drop(columns=['Unnamed: 0'],axis=1)

In [61]:
filtered_df_all_ill=filtered_df_all_ill.drop(columns=['Unnamed: 0'],axis=1)

In [62]:
filtered_df_all_ill.head()

       heartrate     user             datetime
94571  49.535714  ATHKM6V  2024-02-10 00:00:00
94572  52.878788  ATHKM6V  2024-02-10 00:05:00
94573  49.075000  ATHKM6V  2024-02-10 00:10:00
94574  49.282609  ATHKM6V  2024-02-10 00:15:00
94575  48.195652  ATHKM6V  2024-02-10 00:20:00

In [63]:
for i in filtered_df.iterrows():
    if i[1].user in dct.keys():
        filtered_df.loc[i[0],'symptom_date']=dct[i[1].user]

In [73]:
for i in filtered_df_all_ill.iterrows():
    if i[1].user in dct_all_ill.keys():
        filtered_df_all_ill.loc[i[0],'symptom_date']=dct_all_ill[i[1].user][0]
        filtered_df_all_ill.loc[i[0],'sickness']=dct_all_ill[i[1].user][1]

In [74]:
filtered_df.head()

       heartrate     user             datetime symptom_date
94571  49.535714  ATHKM6V  2024-02-10 00:00:00   2024-03-06
94572  52.878788  ATHKM6V  2024-02-10 00:05:00   2024-03-06
94573  49.075000  ATHKM6V  2024-02-10 00:10:00   2024-03-06
94574  49.282609  ATHKM6V  2024-02-10 00:15:00   2024-03-06
94575  48.195652  ATHKM6V  2024-02-10 00:20:00   2024-03-06

In [75]:
filtered_df_all_ill.head()

       heartrate     user             datetime symptom_date  sickness
94571  49.535714  ATHKM6V  2024-02-10 00:00:00   2024-03-06  COVID-19
94572  52.878788  ATHKM6V  2024-02-10 00:05:00   2024-03-06  COVID-19
94573  49.075000  ATHKM6V  2024-02-10 00:10:00   2024-03-06  COVID-19
94574  49.282609  ATHKM6V  2024-02-10 00:15:00   2024-03-06  COVID-19
94575  48.195652  ATHKM6V  2024-02-10 00:20:00   2024-03-06  COVID-19

In [76]:
#sanity check
assert len(filtered_df['symptom_date'].unique())==len(dct.keys())

In [77]:
filtered_df.isna().sum()

heartrate       0
user            0
datetime        0
symptom_date    0
dtype: int64

In [78]:
#filtered_df.to_csv('datasets/df_master_hr_light_filtered_assigned_notonlycorona.csv')

In [79]:
filtered_df_all_ill.to_csv('datasets/df_master_hr_light_filtered_assigned_all_ill.csv')